<footer class="footer-section">
  <div class="first-section">
    <br />
    <br />
    <h1>About this site</h1>
    <p class="paragraph-section">
      Finding a suitable house in Gopalganj city is a little bit difficult task.
      Our main aim is to reduce the suffering of students to find the suitable
      house.
    </p>
  </div>
  <div class="second-section logo">
    <a
      href="https://www.facebook.com/0000000000000000000000000000dc"
      class="fa fa-facebook social-logo"
    ></a>
    <a href="#" class="fa fa-twitter social-logo"></a>
    <a
      href="linkedin.com/in/abdullah-al-mamun-6a4a47175"
      class="fa fa-linkedin social-logo"
    ></a>
    <a
      href="https://www.youtube.com/@user-zs9sh2nv1c"
      class="fa fa-youtube social-logo"
    ></a>
  </div>
  <div class="second-section">
    <p>Copyright &copy; 2023</p>
  </div>
</footer>
