<footer class="footer-section">
  <div class="first-section">
    <br />
    <br />
    <h1>About this site</h1>
    <p class="paragraph-section">
      Finding a suitable house in Gopalganj city is a little bit difficult task.
      Our main aim is to reduce the suffering of students to find the suitable
      house.
    </p>
  </div>
  <div class="second-section logo">
    <a
      href="https://www.facebook.com/al.mamun030"
      class="fa fa-facebook social-logo"></a>
    <a
      href="https://twitter.com/AlMamun48212436"
      class="fa fa-twitter social-logo"></a>
    <a
      href="https://www.linkedin.com/in/abdullah-al-mamun-6a4a47175"
      class="fa fa-linkedin social-logo"></a>
    <a
      href="https://www.youtube.com/channel/UCmaxathbZCpZW5mcCnl6rKA"
      class="fa fa-youtube social-logo"></a>
  </div>
  <div class="second-section">
    <p>Copyright &copy; 2023</p>
  </div>
</footer>
