<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark p-3 h5 mb-0">
      <a class="navbar-brand" href="/">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link" href="/mess">Show-Mess</a>
            <a class="nav-link" href="/mess/new">New Mess</a>
          </div>
          <div class="navbar-nav ml-auto">
            <a class="nav-link" href="/about">About</a>
            <% if(!currentUser){ %>  
            <a class="nav-link" href="/user/register">Register</a>
            <a class="nav-link" href="/user/login">Login</a>
            <% }else{ %>
            <a class="nav-link" href="/user/logout">Logout</a>
            <% } %>
        </div>
      </div>
    </nav>