<% layout('layout/boilerplate') %> 
    <div class="row my-4">
        <div class="col-6 offset-3">
            <img style="height: 50%; width: 100%;" src="https://cdn.discordapp.com/attachments/1017752573303861249/1017814630183215194/rmarkson_error_404_c3db1def-27a7-4ab7-860f-190cbb21fcde.png" alt="404 error">
            <p class="display-4 text-center">
                <span class="textDiv">4</span>
                <span class="textDiv">0</span>
                <span class="textDiv">4</span>
                Error! <br>
                Page not found :(
            </p>
        </div>
    </div>
    <script defer src="/javaScript/colorChanger.js"></script>