<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to to-Let</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Hero section -->
    <div class="container-fluid main-container">
      <div class="container-wrapper">
        <div class="container-1">
          <h3>To-Let</h3>
          <nav class="nav ml-auto">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/mess">Mess</a>
            <% if(!currentUser){ %>
            <a class="nav-link" href="/user/login">Login</a>
            <a class="nav-link" href="/user/register">Register</a>
            <% }else{ %>
            <a class="nav-link" href="/user/logout">Logout</a>
            <% } %>
          </nav>
        </div>
        <div class="container-2">
          <h1 class="headding-color">Welcome to to-Let add near BSMRSTU</h1>
          <p class="py-3 text-center paragraph-color">
            This is a modern site where you can post about your house
            information. For this you have to create an unique ID. Your
            information will be passed as publicly and others having account can
            easily see your house information.
          </p>
          <a href="/mess" class="btn btn-lg btn-outline-info discover-button"
            >Discover All Mess</a
          >
        </div>
      </div>
    </div>
    <p class="display-4 text-center my-5 underline section-title">
      Section titile 1
    </p>
    <div class="row text-center">
      <div class="col-md-6">
        <h2 class="text-center">Text Here</h2>
        <p class="formating-text">
          With 500+ student organizations (chocolate science, anyone?), nearly
          40 Greek-letter and independent living groups, chaplains for more than
          20 faith traditions, and a commitment to diversity and inclusion,
          student life at MIT offers a welcoming place for everyone. To
          complement their academics and research, students choose their own
          extracurricular adventures, from a spectacular array of ways to
          participate in music, dance, and sports to dozens of groups that savor
          and celebrate cultures from around the world. To help students
          navigate challenges, MIT offers a strong support network (bolstered by
          occasional visits from puppies, pigs, and pygmy goats).
        </p>
      </div>
      <div class="col-md-6">
        <img
          class="img-height"
          src="https://images.pexels.com/photos/2893177/pexels-photo-2893177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="student-life"
        />
      </div>
    </div>
    <div class="container">
      <p class="display-4 text-center my-5 section-title">Section title 2</p>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-hover">
            <img
              src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/07/Sell_a_home.webp"
              class="card-img-top"
              alt="card-img-1"
            />
            <div class="card-body">
              <h5 class="card-title">Area A</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-hover">
            <img
              src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/07/Buy_a_home.webp"
              class="card-img-top"
              alt="card-img-1"
            />
            <div class="card-body">
              <h5 class="card-title">Area B</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-hover">
            <img
              src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/08/Rent_a_home.webp"
              class="card-img-top"
              alt="card-img-1"
            />
            <div class="card-body">
              <h5 class="card-title">Area C</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-3">
      <p class="display-4 text-center my-5 section-title">
        Highlight Mess Area on google map
      </p>
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1c8SGCK67HsVGeIS8Sn9NkapTmFXA6Wg&ehbc=2E312F"
        width="100%"
        height="400"
      ></iframe>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
    <%- include('../partials/footer') %>
  </body>
</html>
