<% layout('layout/boilerplate')%>
<div class="container-fluid main-container">
  <div class="container-wrapper">
    <div class="container-2 top-section">
      <h1 class="headding-color">Welcome to to-Let add near BSMRSTU</h1>
      <p class="text-center paragraph-color">
        This is a modern site where you can post about your house information.
        For this you have to create an unique ID. Your information will be
        passed as publicly and others having account can easily see your house
        information.
      </p>
      <a href="/mess" class="btn btn-lg btn-outline-info discover-button"
        >Discover All Mess</a
      >
    </div>
  </div>
</div>
<p class="display-4 text-center my-5 underline section-title">
  The Messy Adventure
</p>
<div class="row text-center">
  <div class="col-md-6">
    <h2 class="text-center">Mess life</h2>
    <p class="formating-text">
      Being a varsity student is no easy task. Balancing academics, sports, and
      social life can often lead to chaos and disarray. And nowhere is this
      chaos more evident than in the varsity student mess. The varsity student
      mess is a bustling hub of activity, filled with energetic young athletes,
      scholars, and individuals trying to find a quick meal in between their
      demanding schedules. It is a place where time seems to accelerate, as
      students rush in and out, eager to refuel their bodies before their next
      endeavor.
    </p>
  </div>
  <div class="col-md-6">
    <img
      class="img-height"
      src="https://images.pexels.com/photos/2893177/pexels-photo-2893177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt="student-life" />
  </div>
</div>
<div class="container">
  <p class="display-4 text-center my-5 section-title">
    Mess positions near BSMRSTU
  </p>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-hover">
        <img
          src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/07/Sell_a_home.webp"
          class="card-img-top"
          alt="card-img-1" />
        <div class="card-body">
          <h5 class="card-title">Area A</h5>
          <p class="card-text">
            Starting from sobhan sorok and ending of eye care building. Nearly
            1+ kilometer square area. You better visualize in map section
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-hover">
        <img
          src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/07/Buy_a_home.webp"
          class="card-img-top"
          alt="card-img-1" />
        <div class="card-body">
          <h5 class="card-title">Area B</h5>
          <p class="card-text">
            Just front of BSMRSTU main gate. Time saving and better quality than
            Area A messes.😃😊
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-hover">
        <img
          src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/08/Rent_a_home.webp"
          class="card-img-top"
          alt="card-img-1" />
        <div class="card-body">
          <h5 class="card-title">Area C</h5>
          <p class="card-text">
            Area C actually behind the BSMRSTU campus, cheap rate mess area. It
            is difficult to travel.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <p class="display-4 text-center my-5 section-title">
    Mess Area on google map
  </p>
  <iframe
    src="https://www.google.com/maps/d/u/0/embed?mid=1c8SGCK67HsVGeIS8Sn9NkapTmFXA6Wg&ehbc=2E312F"
    width="100%"
    height="400"></iframe>
</div>
